@import './variables'
    
.Art-module
    position: absolute
    left: 0px
    top: 0px

    min-width: 100%
    min-height: 100%

    background: #424242
    opacity: 1
    
.Aside-module
    &--libs
        margin: -4em 0px

        align-items: center
        box-sizing: inherit
        color: #ffffff
        display: flex
        flex-direction: column

    &--pages
        margin: -1em 0px

        align-items: center
        box-sizing: inherit
        color: #ffffff
        display: flex
        flex-direction: column

    &--profile
        margin: -1em 0px

        align-items: center
        box-sizing: inherit
        color: #ffffff
        display: flex
        flex-direction: column

    &--socials
        margin: -1em 0px

        align-items: center
        box-sizing: inherit
        color: #ffffff
        display: flex
        flex-direction: column

.AsideColumnLayout-module
    position: absolute
    top: 0px

    width: 144px
    height: 100vh

    align-content: space-between
    display: grid
    float: right
    grid-template-rows: 144px auto 144px
    padding: 48px 0px

    &--slot-top
        grid-row: 1/2

    &--slot-center
        grid-row: 2/3

    &--slot-bottom
        grid-row: 3/3

    &.left
        left: 0px

    &.right
        right: 0px

.Clickable-module
    &--root
        cursor: pointer
        outline: none
        position: relative

.Icon-module
    &--icon24
        width: 24px
        height: 24px

    &--icon32
        width: 2em
        height: 2em

.LibsNavigation-module
    &--linkWrapper
        width: 100%
        height: 20px

        border-radius: 4px 
        color: #c2c2c2
        font-family: $font-family-normal
        font-size: 16px
        font-weight: 200
        line-height: 20px
        text-align: right
        text-decoration: none
        padding: 0px 16px

        &:hover
            background: rgba(#000, 0.125)
            color: white

.PageLayout-module
    &--horizontal
        position: absolute
        left: 50vw

        width: calc(100vw - 96px)
        height: 100%

        margin: auto

        max-width: 1600px
        pointer-events: none
        translate: -50% 0%
        z-index: 2

        & *
            pointer-events: all

    &--root
        position: absolute
        left: 0px
        top: 0px

        width: 100vw
        height: 100vh

        overflow-x: hidden
        overflow-y: auto
        z-index: 1

    &--page
        position: absolute
        left: 50vw
        top: 0px

        width: calc(100vw - 512px)
            
        animation: page-in 0.25s ease-out
        display: inline-block
        max-width: 1152px
        text-align: center
        translate: -50% 0%

        &--title
            width: 100%

            margin-top: 1em !important

        & *
            position: relative

            display: block

.PageNavigation-module
    &--linkWrapper
        position: relative

        width: 100%
        height: 32px

        border-radius: 4px 
        color: $color-text-title
        font-family: $font-family-chunky
        font-size: 20px
        font-weight: 600
        line-height: 32px
        text-align: left
        text-decoration: none
        padding: 0px 16px
        transition: 0.25s ease

        &:hover
            color: $color-text-relevant

            & img
                rotate: 0deg
                scale: 1

        & img
            position: absolute
            left: -1.75em
            top: 0.125em

            height: 2em

            scale: 0
            rotate: -45deg
            pointer-events: none
            transition: 0.25s ease


.ProfileNavigation-module
    &--profile
        width: 96px
        height: 96px

        border: none
        border-radius: 50%

    &--name
        margin: 8px 0px

        color: grey
        font-family: $font-family-chunky
        font-size: 16px
        font-weight: 400

.PageSection-module
    &--root
        width: 100%
        
        display: block
        padding: 1em 0px

        & *
            display: block
    &--title
        margin: 1em 0px 0.5em 0px !important

        color: $color-text-relevant
        font-weight: 400

.SocialsNavigation-module
    &--link
        border-radius: 4px
        padding: 16px

        &:hover
            background: rgba(#000, 0.125)

    &--linkWrapper
        border-radius: 4px
        text-align: center
    
.Tech-module
    width: 100%
    height: 2em

    align-items: center
    display: flex
    justify-content: center
    gap: 0.25em

    & img
        height: 100%

.ThreeModel-module
    &.page
        height: 20em

.Typewriter-module
    display: inline !important

@media screen and (max-width: 1080px)
    .AsideColumnLayout-module
        display: none

    .PageLayout-module
        &--horizontal
            left: 0px

            width: calc(100vw - 2em)

            translate: 0% 0%

        &--page
            left: 1em

            width: calc(100% - 2em)

            translate: 0% 0%